.container-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  margin: 5px 20px;
  background-color: transparent;
}

img {
  margin: 10px 0;
  min-width: 40vw;
  min-height: 43vh;
  max-width: 40vw;
  max-height: 43vh;
  border: 5px solid #fff;
  border-radius: 30px;
  background-color: aliceblue;
  text-align: center;
}

.title {
  margin: 10px 0;
  padding: 0.2em 0.5em;
  font-size: 2em;
  border: 5px solid #000;
  border-radius: 20px;
  background-color: #ffffff;
}

@media(max-width:576px) {
  .container-imagen {
    width: 80vw;
    height: 30vh;
    margin: 35px 0px;
  }

  img {
    margin: 3px 0;
    min-height: 30vh;
    min-width: 85vw;
    max-width: 90vw;
    max-height: 30vh;
  }

  .title {
    margin: 5px 0;
    padding: 0.1em 0.3em;
    font-size: 1.5em;
  }
}

@media(min-width:768px) {
  img {
    margin: 3px 0;
    min-height: 30vh;
    min-width: 80%;
    max-width: 100%;
    max-height: 30%;
  }

  .container-imagen {
    width: 90%;
    height: 90%;
  }
}

@media(min-width:1200px) {
  img {
    margin: 3px 0;
    min-height: 50vh;
    min-width: 80%;
    max-width: 100%;
    max-height: 30%;
  }
}

@media(max-height:415px) {
  img {
    margin: 3px 0;
    min-height: 50vh;
    min-width: 80%;
    max-width: 100%;
    max-height: 55%;
  }

  .title {
    margin: 2px 0;
    padding: 0.1em 1em;
    font-size: 1em;
    border: 2px solid #000;
  }
}