<div class="game-container">
  <button class="btn">
    <i class="fa-solid fa-bars"></i>
  </button>

  <nav class="navbar">
    <ul class="list">
      <li class="list-item">
        <a routerLink="/home" routerLinkActive="active" class="link">Home</a>
      </li>
      <li class="list-item">
        <a routerLink="/add-image" routerLinkActive="active" class="link"
          >Agregar imagen</a
        >
      </li>
      <li class="list-item">
        <a routerLink="/options" routerLinkActive="active">Opciones</a>
      </li>
    </ul>
  </nav>
  <div class="cards">
    <app-card
      class="app-card"
      *ngFor="let item of localStorageService.imgData"
      [info]="item"
    ></app-card>
  </div>
</div>

