<div class="nav">
  <div>
    <button class="btn" (click)="toggle(navbar)">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</div>

<nav #navbar class="navbar" (click)="toggle(navbar)">
  <ul class="list">
    <li class="list-item">
      <a routerLink="/home" routerLinkActive="active" class="link">HOME</a>
    </li>
    <li class="list-item">
      <a routerLink="/add-image" routerLinkActive="active" class="link">AGREGAR IMAGEN</a>
    </li>
    <li class="list-item">
      <a routerLink="/galery" routerLinkActive="active" class="link">GALERÍA</a>
    </li>
    <li class="list-item">
      <a routerLink="/options" routerLinkActive="active">OPCIONES</a>
    </li>
  </ul>
</nav>