.btn {
  position: fixed;
  top: 5vh;
  left: 5vw;
  padding: 2px;
  background-color: transparent;
  border: none;
  z-index: 99999;
  transition: all 0.7s ease;
}

.btn-white {
  color: #fff;
}

i {
  font-size: 2.5em;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  left: -40%;
  background-image: linear-gradient(to right, #1d1d1d, #1d1d1df4, #1d1d1de0);
  position: fixed;
  top: 0vh;
  width: 30%;
  height: 100vh;
  right: 70%;
  z-index: 999;
  transition: all 0.7s ease;
  opacity: 0;
}

.activo {
  left: 0;
  opacity: 1;
}

.list {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: #f0f8ff;
}
