<div class="nav">
  <i (click)="toggle(navbar)" class="fa-solid fa-bars btn"></i>
</div>

<nav #navbar class="navbar" (click)="toggle(navbar)">
  <ul class="list">
    <li class="list-item">
      <a routerLink="/home" routerLinkActive="active" class="link">HOME</a>
    </li>
    <li class="list-item">

      <a routerLink="/add-image" routerLinkActive="active" class="link"
        >Agregar imagen</a
      >

      <a routerLink="/add-image" routerLinkActive="active" class="link">AGREGAR IMAGEN</a>

    </li>
    <li class="list-item">
      <a routerLink="/galery" routerLinkActive="active" class="link">GALERÍA</a>
    </li>
    <li class="list-item">
      <a routerLink="/options" routerLinkActive="active">OPCIONES</a>
    </li>
  </ul>
</nav>

