.btn {
  background-color: transparent;
  border: none;
  transition: all 0.7s ease;
  color: #fff;
  font-size: 5vh;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2vh 5vw;
  width: 100vw;
  height: 10vh;
  z-index: 2;
  background-color: #1d1d1d;

  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  left: -100%;
  background-color: #1d1d1d;
  position: fixed;
  top: 0vh;
  width: 65%;
  height: 101vh;
  right: 70%;
  z-index: 1;
  transition: all 0.7s ease;
  opacity: 0;
  text-align: center;
}

.activo {
  left: 0;
  opacity: 1;
}

.list {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: #f0f8ff;
}
