<div class="options-container">
    <button class="btn" routerLink="/home" routerLinkActive="active"><<</button>
    <h2 class="title">{{title}}</h2>
    <div class="menu-options">
        <h3>Correcciones de imágenes</h3>
        <div class="settings">
            <h4>Ajustar nitidez</h4>
            <div>
                <label>Nitidez:</label><input type="range">
            </div>
            <h4>Brillo y contraste</h4>
            <div>
                <label>Brillo:</label><input type="range">
            </div>
            <div>
                <label>Contraste:</label><input type="range">
            </div>
        </div>
    </div>
</div>