<div class="options-container">
    <button class="btn" routerLink="/home" routerLinkActive="active"><<</button>
    <h2 class="title">{{title}}</h2>
    <div class="menu-options">
        <h3>Correcciones de imágenes</h3>
        <div class="settings">
            <h4>Ajustar difuminación</h4>
            <div>
                <label>Difuminación:</label><input id="input-blur" type="range" min="0" max="5" [value]="blur_value">
            </div>
            
            <h4>Brillo contraste y saturación</h4>
            <div>
                <label>Brillo:</label><input id="input-brightness" type="range" min="30" max="150" [value]="brightness_value">
            </div>
            <div>
                <label>Contraste:</label><input id="input-contrast" type="range" min="50" max="150" [value]="contrast_value">
            </div>
            <div>
                <label>Saturación:</label><input id="input-saturate" type="range" min="0" max="200" [value]="saturate_value">
            </div>
        </div>
    </div>
    <img class="imagen" src="../../assets/img/wallpaper_10.jpg" alt="image">
</div>