<div class="options-container">
    <button class="btn" routerLink="/home" routerLinkActive="active">
        <i class="fa-solid fa-backward"></i>
    </button>
    <div class="menu-options">
        <h2 class="title">{{title}}</h2>
        <h3>CORRECCIONES DE IMÁGENES</h3>
        <div class="settings">
            <h4>AJUSTAR DIFUMINACIÓN</h4>
            <div>
                <label>DIFUMINACIÓN:</label><input id="input-blur" type="range" min="0" max="5" [value]="blur_value">
            </div>

            <h4>BRILLO CONTRASTE Y SATURACIÓN</h4>
            <div>
                <label>BRILLO:</label><input id="input-brightness" type="range" min="30" max="150"
                    [value]="brightness_value">
            </div>
            <div>
                <label>CONTRASTE:</label><input id="input-contrast" type="range" min="50" max="150"
                    [value]="contrast_value">
            </div>
            <div>
                <label>SATURACIÓN:</label><input id="input-saturate" type="range" min="0" max="200"
                    [value]="saturate_value">
            </div>
        </div>
        <img class="imagen" src="/Comunicate/assets/img/wallpaper_10.jpg" alt="image">
    </div>
</div>
