.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/img/wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 40px;
}

.title {
  font-size: 2em;
}

.btn {
  padding: .5em 1.6em;
  border-radius: 40px;
  width: 200px;
  border: 5px solid #fff;
  font-size: 1.5em;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.38);
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-start {
  background-image: linear-gradient(to right, #f43030, #f729d1);
  filter: contrast(150%);
}

.btn-options {
  background-image: linear-gradient(to right, #30c3f4, #29f778);
  filter: contrast(150%);
}

.btn-galery {
  background-image: linear-gradient(to right, #f4f130, #f78229);
  filter: contrast(150%);
}

@media (min-width:720px) {
  .title {
    font-size: 3em;
  }

  .btn {
    padding: .6em 1.8em;
    width: 300px;
    font-size: 2em;
  }
}

@media (min-width:610px) and (max-height: 415px) {
  .menu-container {
    gap: 10px;
  }
  
  .title {
    font-size: 1.5em;
  }

  .btn {
    padding: .6em 1.8em;
    width: 150px;
    font-size: 1em;
  }
}