.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;

  /*background-image: url("../../../assets/img/wallpaper.jpg");*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-color: #f59b67;
}

.title {
  margin-top: 10vh;
  font-size: 5vw;
}

.btn-container {
  display: flex;
  flex-direction: column;
  /*border-style: solid;*/
  height: 50%;
  width: 30%;
  gap: 5vh;
}

.btn {
  padding: 0.5em 1.6em;
  border-radius: 3.5vw;
  width: 100%;
  border: 0.25em solid #fff;
  font-size: 1.5vw;
  -webkit-box-shadow: 1em 1em 2em 1em rgba(0, 0, 0, 0.38);
  box-shadow: 1em 1em 5em 1em rgba(0, 0, 0, 0.38);
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-start {
  background-image: linear-gradient(to right, #f43030, #f729d1);
  filter: contrast(150%);
}

.btn-options {
  background-image: linear-gradient(to right, #30c3f4, #29f778);
  filter: contrast(150%);
}

.btn-galery {
  background-image: linear-gradient(to right, #f4f130, #f78229);
  filter: contrast(150%);
}

@media (orientation: portrait) and (max-width: 800px) {
  .title {
    font-size: 3.5em;
  }

  .btn {
    font-size: 4.5vw;
  }

  .btn-container {
    width: 50%;
  }
}

/*@media (orientation: landscape)*/
