<div *ngIf="cardInfo" class="container-imagen">
  <img
    #img
    class="imagen"
    [src]="cardInfo.img"
    alt="image"
    (click)="hablar(cardInfo.title, img)"
    [style]="valor_filtros"
  />
  <div class="buttons">
    <h2
      #h2
      class="title"
      [id]="cardInfo.id"
      (click)="hablar(cardInfo.title, h2)"
    >
      {{ cardInfo.title }}
    </h2>
    <input *ngIf="showAdd" class="title check" type="checkbox" />
    <input
      (click)="borrar(cardInfo)"
      *ngIf="showAdd && cardInfo.delete"
      type="button"
      class="title delete"
      value="X"
    />
  </div>
</div>
