<div class="add-img-container">
    <button class="btn" routerLink="/home" routerLinkActive="active"><<</button>
    <h2 class="title">Agregar nueva imagen</h2>
    <form class="form">
        <input type="text" placeholder="Titulo...">
        <input type="text" placeholder="Acción...">
        <div class="search-img">
            <label>Url de la imagen</label><button class="btn-form">Buscar</button>
        </div>
        <button class="btn-form" type="submit">Subir</button>
    </form>
</div>