.galery-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  background-color: #cfacac;
}

.form {
  margin-top: 15vh;
  width: 100%;
  /*border-style: solid;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.app-card {
  background-color: #212023;
  border-radius: 2em;
  -webkit-box-shadow: 1em 0 35em -8em rgba(0, 0, 0, 0.56);
  box-shadow: 1em 0 35em -8em rgba(0, 0, 0, 0.56);
  margin: 2em;
  width: 30vw;
  /*border-style: solid;*/
}

.submit {
  position: fixed;
  font-size: 2.5vh;
  top: 2vh;
  right: 5vw;
  padding: 0.2em;
  border: 0.25em solid #000;
  border-radius: 2.5em;
  background-color: #ffffff;
  z-index: 6;
}

@media (orientation: portrait) and (max-width: 800px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .app-card {
    width: 70vw;
  }
}

@media (orientation: portrait) and (min-width: 800px) {
  .form {
    display: flex;
  }

  .app-card {
    width: 40vw;
  }
}
