.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 100vh;*/
  /*width: 100%;*/
  background-image: url("../../../assets/img/wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*border-style: solid;*/
}

.form {
  margin-top: 5%;
}

.app-card {
  width: 40%;
}

.submit {
  position: fixed;
  font-size: 1.5em;
  top: 5vh;
  right: 5vw;
  text-decoration: none;
  line-height: normal;
  padding: 0.2em 0.5em;
  border: 0.3em solid #000;
  border-radius: 40%;
  background-color: white;
}
