.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/img/wallpaper.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 3em;
  margin: 20px 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 30px 5px;
  padding: 1em 4em;
  border-radius: 40px;
  border: 5px solid #fff;
  font-size: 1.5em;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.38);
  transition: transform .2s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-start {
  background-image: linear-gradient(to right, #f43030, #f729d1);
  filter: contrast(150%);
}

.btn-options {
  background-image: linear-gradient(to right, #30c3f4, #29f778);
  filter: contrast(150%);
}

.btn-close {
  background-image: linear-gradient(to right, #f4f130, #f78229);
  filter: contrast(150%);
}

@media(max-width:576px) {
  .title {
    font-size: 2em;
    margin: 10px 0;
  }

  .btn {
    margin: 15px 0;
    padding: .5em 2em;
    border-radius: 40px;
    border: 5px solid #fff;
    font-size: 1.15em;
  }
}

@media(max-height:415px) {
  .title {
    font-size: 2em;
    margin: 10px 0;
  }

  .btn {
    margin: 10px 0;
    padding: .3em 2em;
    border-radius: 40px;
    border: 5px solid #fff;
    font-size: 1.15em;
  }
}